---
import Header from '../components/Header.astro';
import Project from '../components/Project.astro';
import Sidebar from '../components/Sidebar.astro';
const projects = [
  {
    title: "TechClarityCoach",
    desc: [
      "Fixed Link Issue to open new tab and make the user stay in the original page",
      "Fixed a bug in the heroes card that caused users to leave the website"
    ],
    tech: ["React", "JavaScript", "HTML", "CSS"]
  },
  {
    title: "RefuBook",
    desc: [
      "A social platform for refugees built with React, JavaScript, Tailwind, Firebase, and Netlify",
      "Responsibilities: Navbar, About section, Firebase integration, Chat functionality, Blogs"
    ],
    tech: ["React", "JavaScript", "Tailwind CSS", "Firebase", "Netlify"]
  },
  {
    title: "TalebAlelm",
    desc: [
      "Educational app for organizing learning processes using Next.js, JavaScript, Tailwind, Firebase, and Vercel",
      "Built the whole app from scratch"
    ],
    tech: ["Next.js", "JavaScript", "Tailwind CSS", "Firebase", "Vercel"]
  },
  {
    title: "Expenses Calculator",
    desc: [
      "A React-based web application for tracking and managing personal expenses. Built with an intuitive user interface that allows users to easily record, categorize, and monitor their spending habits."
    ],
    tech: ["React", "JavaScript", "CSS", "HTML"]
  }
];
---

<!DOCTYPE html>
<html
>
  <Header title="Personal Projects | Baraa Nazar" />
  <body>
    <div class="content">
        <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Personal Projects</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
