name: Deploy Portfolio

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      # Add the SSH key from GitHub Secrets
      - uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.VPS_DEPLOY_KEY }}

      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no baraa@207.180.196.8 "cd /home/baraa && ./deploy.sh"

      - name: Test SSH
        run: ssh -o StrictHostKeyChecking=no baraa@207.180.196.8 "echo Connected"
